<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <h1>로그인</h1>
        <form>
            <input type="text" id="userId" placeholder="아이디" /><br />
            <input type="password" id="pw" placeholder="비밀번호" /><br />
            <button type="button" onclick="loginFunc()">로그인</button>
        </form>
        <script>
            async function loginFunc() {
                const res = await axios({
                    method: 'POST',
                    url: '/api/member/login',
                    data: {
                        userId: document.querySelector('#userId').value,
                        pw: document.querySelector('#pw').value,
                    },
                });
                console.log(res);
                if (res.data.success) {
                    alert('환영합니다');
                    //localStorage: 브라우저에 정보를 저장, 브라우저닫혀도 계속유지
                    //sessionStroage: 브라우저 정보를 저장. 단, 브라우저가 닫히면 정보삭제
                    localStorage.setItem('token', res.data.token);
                    document.location.href = '/post';
                } else {
                    alert('아이디와 비밀번호가 일치하지 않습니다');
                }
            }
        </script>
    </body>
</html>
