<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <h1>kdt11기 게시판</h1>
        <a href="/write">글쓰기</a>
        <a href="/profile">내정보조회</a>
        <button type="button" onclick="logout()">로그아웃</button>
        <table border="1" cellspacing="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>제목</th>
                    <th>날짜</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <script>
            const tbody = document.querySelector('tbody');
            (async function () {
                try {
                    const res = await axios({
                        method: 'GET',
                        url: '/api/post/all',
                        headers: {
                            Authorization: `Bearer ${localStorage.getItem('token')}`,
                        },
                    });
                    console.log(res);
                    for (let i = 0; i < res.data.result.length; i++) {
                        const html = `
                        <tr>
                            <td>${res.data.result[i].id}</td>
                            <td><a href="/post/${res.data.result[i].id}">${res.data.result[i].title}</a></td>
                            <td>${res.data.result[i].createdAt}</td>
                        </tr>
                    `;
                        tbody.insertAdjacentHTML('beforeend', html);
                    }
                } catch (error) {
                    document.location.href = '/login';
                }
            })();
            function logout() {
                localStorage.clear();
                document.location.href = '/login';
            }
        </script>
    </body>
</html>
