.content {
    width: auto;
    height: 200px;
    background-color: orange;
}
.content > div {
    display: inline-block;
    width: 200px;
    height: 100px;
    margin-right: 30px;
}
.HTML {
    background-color: skyblue;
}
.CSS {
    background-color: green;
}
.Javascript {
    background-color: red;
}
