<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="text" id="id" required placeholder="아이디" />
            <br />
            <input type="password" id="pw" required placeholder="비밀번호" />
            <br />
            <input type="text" id="username" required placeholder="이름" />
            <br />
            <input type="number" id="age" required placeholder="나이" />
            <br /><br />
            <br />
            <input type="file" name="file" />
            <br /><br />
            <br />
            <button type="button" onclick="login()">회원가입</button>
        </form>
        <br />
        <br />
        <div class="resultBox"></div>
        <script>
            const resultBox = document.querySelector('.resultBox');
            function login() {
                const data = {
                    id: document.querySelector('#id').value,
                    pw: document.querySelector('#pw').value,
                    user: document.querySelector('#username').value,
                    age: document.querySelector('#age').value,
                    file: document.querySelector('#file'),
                };
                axios({
                    method: 'POST',
                    url: '/result',
                    data,
                }).then((res) => {
                    console.log('res', res);
                    resultBox.innerHTML = `<p> ${res.id} 환영합니다.</p>    <img src=${res.data.file.path}>`;
                });
            }
        </script>
    </body>
</html>
