<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <h1>로그인 페이지</h1>
        <form name="login-form">
            <input type="text" id="id" placeholder="아이디" /><br />
            <input type="password" id="pw" placeholder="비밀번호" /><br />
            <button type="button" onclick="login()">로그인</button>
        </form>
        <script>
            function login() {
                const form = document.forms['login-form'];
                axios({
                    method: 'POST',
                    url: '/api/user/login',
                    data: {
                        id: form.id.value,
                        pw: form.pw.value,
                    },
                }).then((res) => {
                    console.log('res', res);
                    if (res.data.result) {
                        alert('로그인 성공, 환영합니다.');
                        document.location.href = `/profile/${res.data.id}`;
                    } else {
                        alert('로그인 실패, 아이디와 비밀번호 확인하세요');
                    }
                });
            }
        </script>
    </body>
</html>
