<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="text" name="id" placeholder="아이디" /><br />
            <input type="password" name="pw" placeholder="비밀번호" /><br />
            <input type="text" name="username" placeholder="이름" /><br />
            <input type="number" name="age" placeholder="나이" /><br />
            <input type="file" name="userfile" /><br />
            <br />
            <button type="submit">회원가입</button>
        </form>
    </body>
</html>
