<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>댓글 모음</h1>
        <a href="/">메인으로 이동</a>
        <br />
        <ul>
            <% for(let i = 0 ; i < list.length; i++) { %>
            <li>
                <b><%= list[i].userid %></b>
                <a href="/comment/<%= list[i].id %>"><%= list[i].comment %></a>
            </li>
            <% } %>
        </ul>
    </body>
</html>
