<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>유저 정보 페이지</h1>
        <a href="/">홈으로 이동</a>
        <br />
        <input type="text" value="<%= userInfo.userid %>" readonly /><br />
        <input type="text" value="<%= userInfo.userpw %>" readonly /><br />
        <input type="text" value="<%= userInfo.name %>" readonly /><br />
        <input type="text" value="<%= userInfo.age %>" readonly /><br />
    </body>
</html>
