<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <h1>채팅</h1>
        <ul></ul>
        <form id="chat">
            <input type="text" id="message" placeholder="채팅 내용" /><br />
            <button>채팅</button>
        </form>
        <script>
            const socket = io();
            const chatForm = document.querySelector('#chat');
            const ul = document.querySelector('ul');

            //채팅방 생성
            const chatRoom = prompt('채팅방명을 입력하세요');
            socket.emit('join', chatRoom);
            //조인 후 발생 이벤트(브라우저 접속시 이벤트)
            socket.on('create', (res) => {
                const li = document.createElement('li');
                li.textContent = res;
                ul.appendChild(li);
            });
            //서버에서 전달 받은 값
            socket.on('chat', (res) => {
                const li = document.createElement('li');
                li.textContent = res;
                ul.appendChild(li);
            });

            //폼 이벤트
            chatForm.addEventListener('submit', (e) => {
                e.preventDefault();
                const msg = chatForm.querySelector('#message').value;
                socket.emit('message', msg);
                msg.value = '';
            });
        </script>
    </body>
</html>
