.ball{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: pink;
    position: relative;

    animation-name: ball;
    animation-duration: 3s;
    animation-iteration-count: 6;
    animation-timing-function: ease-in;
    animation-direction: normal;
}

@keyframes ball{
    0%{
        left: 0px;
        top: 0px;
    }
    25%{
        left: 100px;
        top: 0px;
    }
    50%{
        top: 100px;
        left: 100px;
    }
    75%{
        left: 0px;
        top: 100px;
    }
    100%{
        left: 0px;
        top: 0px;
    }
}