.text{
   position: relative;

   animation-name: 123;
   animation-timing-function: ease-in-out;
   /* animation-iteration-count: 1; */
   animation-duration: 3s;
}

@keyframes 123 {
    from{
        left: 100%;
        width: 300%;
    }
    to{
        left: 0%;
        width: 100%;
    }
}