.con{
    width: 500px;
    height: 500px;
    background-color: yellow;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    flex-wrap: wrap; */
}
.item{
    width: 100px;
    height: 100px;
}
.item1{
    background-color: blue;
}
.item2{
    background-color: green;
}
.item3{
    background-color: red;
}
.item4{
    background-color: orange;
}
.item5{
    background-color: navy;
}
.item6{
    background-color: purple;
}
.item7{
    background-color: black;
}
.item8{
    background-color: skyblue;
}