header {
    background-color: skyblue;
}
.logo {
    height: 60px;
    line-height: 60px;
    text-align: center;
}
nav {
    text-align: center;
    background-color: rgb(221, 213, 213);
}
nav div {
    padding: 10px 0px;
}

@media (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        height: 100px;
    }
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: skyblue;
    }
    .logo {
        position: relative;
        left: 80px;
        line-height: 100px;
    }
    nav div {
        padding: 10px 10px;
        font-weight: bold;
    }
}
